body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #3a69bd;
}

#root {
  /* display: flex; */
  /* justify-content: center; */
  min-height: 100vh;
  box-sizing: border-box;
}

.wrapper {
  /* max-width: 1200px; */
  color: #fff;
  background: #0b1424;
}

.App {
  text-align: center;
  /* display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch; */
}

.sp-header {
  padding-bottom: 30px;
}

a,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
  line-height: 1;
  /* font-size: 20px; */
  text-align: center;
}

ul {
  list-style: none;
}

.sp-songs {
  /* flex-grow: 1;
  flex-basis: 1; */
  max-width: 890px;
  margin: 0 auto;
}

.sp-difficulty {
  text-align: left;
  padding-bottom: 10px;
}

.sp-song {
  position: relative;
  margin-bottom: 35px;
  padding: 40px;
  background: #0b1424;
  color: #fff;
}

.sp-song.sp-song--in-order {
  background: #ff3046;
  border: 5px solid white;
}

.sp-song.sp-song--in-order .sp-play-all,
.sp-song.sp-song--in-order .sp-play-all--playing {
  background: #0b1424;
}

.sp-snippets-wrap {
  position: relative;
}

.sp-snippets {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  /* background: #3A69BD; */
}

.sp-snippets-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.sp-song-loading-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.sp-snippet {
  background-color: #ff830e;
  transition: all 0.25s ease-out; 
  cursor: pointer;
  height: 50px;
  /* flex-basis: 50px; */
  flex-shrink: 1;
  flex-grow: 0;
  border: 3px solid rgba(255, 255, 255, 0);
}

/* .sp-snippet:active {
  cursor: move;
} */

/* .sp-snippet.dragging {
  background-color: red;
} */

.sp-snippet.playing {
  background-color: #ff3046;
  border: 3px solid #fff;
}

.header-link--dark-orange {
  background-color: #ff5d26;
}

.sp-btn {
  background-color: #ff0960;
  transition: all 0.25s ease-out;
  /* border-radius: 8px; */
  border: none;
  color: #fff;
  padding: 8px;
  width: 120px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.sp-btn.sp-play-all--playing {
  background-color: #ff3046;
}

/* .sp-btn.sp-play-all--playing {
  background-color: #ff5d26;
} */

.sp-btn.sp-btn--reset {
  background-color: #0b1424;
}

.main {
  padding: 40px;
  display: flex;
  align-items: baseline;
}

.header--2__link {
  margin-left: 30px;
}

.sp-instructions {
  padding-top: 15px;
  margin: 0 auto;
  max-width: 400px;
  font-size: 14px;
}

.sp-footer {
  padding: 30px 0;
}

.sp-github-icon {
  color: #fff;
  width: 25px;
  display: block;
  margin: 20px auto 0;
  fill: white;
}

@media screen and (max-width: 800px) {
  .sp-song {
    padding: 40px 10px;
  }

  .sp-difficulty {
    margin-left: 10px;
  }
}
