html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #3A69BD;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  color: #fff;
  background: #0B1424;
}

a,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
  line-height: 1;
  /* font-size: 20px; */
  text-align: center;
}

ul {
  list-style: none;
}

.sp-song {
  position: relative;
  margin-bottom: 20px;
  background: #0B1424;
  padding: 40px;
  color: #fff;
  padding: 40px;
}

.sp-snippets {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #3A69BD;
}

.sp-snippet {
  border-radius: 8px;
  padding: 20px;
  color: #3A69BD;
  color: #fff;
}

.sp-song-loading-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0; right: 0; top: 0; bottom: 0;
  background: rgba(0,0,0,.8);
}

.sp-song-loading-overlay.loaded {
  display: none;

}

.sp-snippet {
  background-color: #ff830e;
  transition: all .25s ease-out;
}

.sp-snippet.playing {
  background-color: #ff3046;
}

.header-link--dark-orange {
  background-color: #ff5d26;
}

.sp-btn {
  background-color: #ff0960;
  border-radius: 8px;
  border: none;
  color: #fff;
  padding: 8px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.sp-btn.sp-play-all--playing {
  background-color: #ff3046;
}

/* .sp-btn.sp-play-all--playing {
  background-color: #ff5d26;
} */

.main {
  padding: 40px;
  display: flex;
  align-items: baseline;
}

.header--2__link {
  margin-left: 30px;
}